{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
    {% if list_tasks|length == 0 %}
        <p>You have no tasks</p>
    {% else %}
        <p>
            <a href="{% url 'show_my_tasks' %}">{{ task.name }}</a>
        </p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
        {% for task in list_tasks %}
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
</main>
{% endblock content %}
