{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<main>
    <div class="create_project">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button">Create</button>
        </form>
    </div>
</main>
{% endblock content %}
