<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<main>
    <div>
        {% if project_object.tasks %}
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% endif %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
        {% for tasks in project_object.tasks.all %}
            <tr>
                <td>{{ tasks.name }}</td>
                <td>{{ tasks.assignee }}</td>
                <td>{{ tasks.start_date }}</td>
                <td>{{ tasks.due_date }}</td>
                <td>{{ tasks.is_completed|yesno }}</td>
            </tr>
        {% empty %}
            <p>This project has no tasks</p>
        {% endfor %}
        </tbody>
    </table>
    </div
</main>
</body>
</html>
