<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if list_projects|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
            {% for projects in list_projects %}
                <tr>
                    <td><a href="{% url 'show_project' projects.id %}">{{ projects.name }}</a></td>
                    <td>{{ projects.tasks.all|length }}</td>
                </tr>
            {% endfor %}
        {% endif %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
